<phpunit bootstrap="./test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="RealejoZf1 Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">/src</directory>
        </whitelist>
    </filter>
</phpunit>
